<!DOCTYPE html>
<html>
<head>
  <title >YPIC-notice</title>
    <link rel="stylesheet" href="css/notice.css">
</head>
<body>

    <%- include('header')%>
    
    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>
     
     <div  style="background-color:maroon; width: 100%; height:5px;"> </div>

     
    <table>
        <tr>
          <th> NOTICE DATE </th>
          <th> MOST RECENT NOTICE </th>
        </tr>
        <tr>
          <td> <%= data[0].date.getDate() + "/" + parseInt( data[0].date.getMonth()+1) + "/" + data[0].date.getFullYear() %>  </td>
          <td> <%= data[0].post %> </td>
        </tr>
        <tr>
          <td> <%= data[1].date.getDate() + "/" + parseInt( data[1].date.getMonth()+1) + "/" + data[1].date.getFullYear() %>  </td>
          <td> <%= data[1].post %> </td>
        </tr>
        <tr>
          <td> <%= data[2].date.getDate() + "/" + parseInt( data[2].date.getMonth()+1) + "/" + data[2].date.getFullYear() %>  </td>
          <td> <%= data[2].post %> </td>
        </tr>
        <tr>
          <td> <%= data[3].date.getDate() + "/" + parseInt( data[3].date.getMonth()+1) + "/" + data[3].date.getFullYear() %>  </td>
          <td> <%= data[3].post %> </td>
        </tr>
        <tr>
          <td> <%= data[4].date.getDate() + "/" + parseInt( data[4].date.getMonth()+1) + "/" + data[4].date.getFullYear() %>  </td>
          <td> <%= data[4].post %> </td>
        </tr>
          
      </table>

      <%- include('footer')%>

</body>
</html>